main > .container, main > .container-fluid
{
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}


.bg-1D267D{
    background-color: #1D267D;
}

.bg-navbarnavypastel {
    background-color: #0C134F;
}
.bg-beigebtn {
    background-color: #CBB279;
}
.bg-D4ADFC{
    background-color: #D4ADFC;

}
.bg-5C469C{
    background-color: #5C469C;

}
.btn-bgadd{
    background-color: #1B9C85;

}


/* Select2 */

.select2-container .select2-selection--single {
    height: 36px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
/* Select 2 */


/* CUstome Boy Font */
body {
    font-family: 'font-monospace', monospace;
}

.btn-createcust{
    width: 200px; /* Set your desired width here */
    font-size: 18px;
    font-weight: bold;
}

.bg-teal {
    background-color: #009688 !important;
}
.bg-green {
    background-color: #4CAF50 !important;
}
.bg-light-green {
    background-color: #8BC34A !important;
}

.bg-lime {
    background-color: #CDDC39 !important;
}

/* Info Box */

.info-box-4 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-4 .icon {
    position: absolute;
    right: 45px;
    bottom: 25px;
    text-align: center;
}

.info-box-4 .content {
    display: inline-block;
    padding: 7px 16px;
}

.info-box-4 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box-4 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.info-box-4.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.2);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; }
  
  .info-box-4.hover-expand-effect:hover:after {
    width: 100%; }